.page-footer
  .container
    %p.pull-left
      %center
        Copyright &copy;
        =Time.now.year
        #{$application_name} - Powered by Padrino (Ruby Framework) Version v.#{Padrino.version}
